# Analyzing Employee Turnover

import the pandas module

In [1]:
import pandas as pd

Create path and file variables

In [2]:
file = 'employee_turnover.csv'

Load the file into a DataFrame

In [3]:
employeeturnover_data = pd.read_csv(file)

Although there is a difference between Attrition and Turnover, these terms are used interchangeably

Attrition is a more popular choice of word than turnover(sounds fancier)

<b>Attrition Rate = No. of Employees that Left Workforce / Average No. of Employees</b>

<i>For the purpose of this case study average no of employees is the same as the total number of employees

What is the attrition rate of this company?

In [5]:
employeeturnover_data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [6]:
employeeturnover_data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [20]:
not_attrition_count = employeeturnover_data[employeeturnover_data['Attrition'] == 'No']['Attrition'].count()
attrition_count = employeeturnover_data[employeeturnover_data['Attrition'] == 'Yes']['Attrition'].count()

print(f'The number of employees who have left: {attrition_count} versus those that have not: {not_attrition_count}')

print(f'The attrition rate is {round(100*(attrition_count/not_attrition_count),2)} %')

# Get value count from the column and use the shape

The number of employees who have left: 237 versus those that have not: 1233
The attrition rate is 19.22 %

What is the average monthly income of all the employees in the company?

In [23]:
round(employeeturnover_data.MonthlyIncome.mean(),2)

#The avg monthly income is 6502.93 currency units (I hope USD!)

6502.93

<b>Copy and Paste this line of code into your cell:</b>
 
<br><i>attrition_true=attrition_false=data[data['Attrition']=='Yes']</i>

<br> This will create a list of all people who are still with the company

In [26]:
attrition_true=attrition_false=employeeturnover_data[employeeturnover_data['Attrition']=='Yes']
attrition_true.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
24,34,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,80,0,8,2,3,4,2,1,3

What is the most popular rating in the attrition_true dataset?

In [33]:
# What is being referred to as Rating? PerformanceRating column?

attrition_true.PerformanceRating.value_counts().nlargest(1)

# 3 seems to be the most popular Performance Rating in the attrition_true dataset

3    200
Name: PerformanceRating, dtype: int64

<b>Copy and Paste this line of code into your cell:</b>
 
<br><i>attrition_false=attrition_false=data[data['Attrition']=='No']</i>

<br> This will create a list of all people who are still with the company

In [34]:
attrition_false=attrition_false=employeeturnover_data[employeeturnover_data['Attrition']=='No']

What is the most common Job Satisfaction rating for people still working at the company?

In [49]:
attrition_false.JobSatisfaction.value_counts().nlargest(1)

# 4 seems to be the most common job satisfaction rating.

4    407
Name: JobSatisfaction, dtype: int64

Are more females attriting compared to males?

In [52]:
attrition_female = attrition_true[attrition_true['Gender'] == 'Female']['Gender'].count()
attrition_male = attrition_true[attrition_true['Gender'] == 'Male']['Gender'].count()

print(f'Number of males who have left are {attrition_male}')
print(f'Number of females who have left are {attrition_female}')
print(f'Male to Female Ratios for people who have left: {attrition_male/attrition_female}')

# Based on this, there appears to be more males than females attriting.

Number of males who have left are 150
Number of females who have left are 87
Male to Female Ratios for people who have left: 1.7241379310344827

a) What is the male to female ratio in the people who are still working at the company?
<br>
b) What inference can you draw from this?

In [54]:
# Male to Female ratio for those still at the company

non_attrition_female = attrition_false[attrition_false['Gender'] == 'Female']['Gender'].count()
non_attrition_male = attrition_false[attrition_false['Gender'] == 'Male']['Gender'].count()

print(f'Male to Female Ratios for people who have not yet left: {non_attrition_male/non_attrition_female}')

# We can infer that the company has more males than females who have not left. As a consequence, the number of people
# who have left can heavily lean on men as well since we're starting off at a base where no of men is greater than no
# of women.

Male to Female Ratios for people who have not yet left: 1.4610778443113772

Is it true that unmarried people tend to attrite more often than married people?

Find out...

<b>Hint</b> : Use the 'MaritalStatus' column with 'value_counts'!

In [55]:
attrition_true.MaritalStatus.value_counts()

Single      120
Married      84
Divorced     33
Name: MaritalStatus, dtype: int64

In [57]:
attrition_false.MaritalStatus.value_counts()

# Single people do seem to attrite more than married people, however, without a test of proportions, we cannot claim
# this to be a fact for the population.

Married     589
Single      350
Divorced    294
Name: MaritalStatus, dtype: int64

Is Overtime a common factor for attrition?
<ul>Use value_counts() function on 'OverTime' column for both datasets to find out!

In [58]:
attrition_true.OverTime.value_counts()

Yes    127
No     110
Name: OverTime, dtype: int64

In [59]:
attrition_false.OverTime.value_counts()

No     944
Yes    289
Name: OverTime, dtype: int64

In [1]:
# OverTime and MaritalStatus are key determinants of attrition