<h4>This is a guided coding exercise on the <b> Human Resources Dataset </b>

<h4>Follow the instructions and write the appropriate code as required

Import the pandas module

In [1]:
import pandas as pd

Create the following variables:
<br><br> <b> path :</b> 
    <ul><li>Store the name of the location where your file is located.
    <li>Replace all backward slashes with forward slash
    </ul>
    <b> file </b> : Store the name of the excel file (attached)

In [7]:
file = 'Sales_Incentives.xlsx'

Read the File into a DataFrame and name it as incentive

In [8]:
incentive = pd.read_excel(file)

Read the top 8 rows of this DataFrame

In [9]:
incentive.head(8)

  Salesperson Name  Attainment  Base Pay  Incentive
0       John Adams        58.0   88735.0    25733.0
1    Kara Williams        69.0   79260.0    27345.0
2     Zarine Malik        51.0   90580.0    23098.0
3      Wayne Smith        57.0   85031.0    24234.0
4       Ray Jacobs        54.0   78498.0    21194.0
5    Alex Donnelly        72.0   76008.0    27363.0
6      Nigel Stone        70.0   90446.0    31656.0
7        Susan Kim        58.0   90875.0    26354.0

What is the row count of this DataFrame?

In [16]:
len(incentive)

75

What is the column count of this DataFrame?

In [17]:
len(incentive.columns)

4

Run incentive.info() and write down how many columns have null entries in them

In [18]:
incentive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 4 columns):
Salesperson Name    75 non-null object
Attainment          74 non-null float64
Base Pay            74 non-null float64
Incentive           75 non-null float64
dtypes: float64(3), object(1)
memory usage: 2.4+ KB

In [19]:
# Only Attainment and Base Pay have null entries in them.